{% extends 'components/base.html' %} {% load static %} {% block body %}
<section
  class="gradient-form h-full bg-primary flex items-center justify-center"
>
  <div class="container h-full p-10 flex justify-center items-center">
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center text-secondary"
    >
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12 bg-white text-black">
              <div class="md:mx-6 md:p-12">
                <!--Logo-->
                <div class="text-center">
                  <img
                    class="mx-auto w-48"
                    src="{% static 'images/logo-square.png' %}"
                    alt="logo"
                  />
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                    presence for CIMARA
                  </h4>
                </div>

                <form method="POST">
                  {% csrf_token %}
                  <p class="mb-4">Please login to your account</p>
                  <!--Username input-->
                  <div class="relative mb-4">
                    <label for="email">Email </label>
                    <input
                      type="email"
                      class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                      id="email"
                      name="email"
                      placeholder="Email"
                    />
                  </div>

                  <!--Password input-->
                  <div class="relative mb-4" data-te-input-wrapper-init>
                    <label for="password">Password </label>
                    <input
                      type="password"
                      class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                      id="password"
                      name="password"
                      placeholder="Password"
                    />
                  </div>

                  <div class="my-2">
                    <p class="text-red-600 text-sm">{{ error }}</p>
                  </div>

                  <!--Submit button-->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <button
                      class="bg-primary mb-3 inline-block w-full rounded-lg px-6 py-3 text-md font-medium leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                      type="submit"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                    >
                      Log in
                    </button>

                    <!--Forgot password link-->
                    <a href="#!">Forgot password?</a>
                  </div>
                </form>
              </div>
            </div>

            <!-- Right column container with background and description-->
            <div
              class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none"
              style="
                background: linear-gradient(
                  to top right,
                  #6b4192,
                  #8d55c6,
                  #8d55c6,
                  #6b4192
                );
              "
            >
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="mb-6 text-xl font-semibold">
                  We are more than just a company
                </h4>
                <p class="text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
