{% extends 'components/base.html' %} {% load static %} {% block body %}

<main class="bg-primary h-screen w-full p-5 flex items-center justify-center">
  <div class="container p-6 rounded-lg flex flex-row bg-primary-light wrap">
    <div
      class="flex-1 h-100 p-10 flex items-center justify-center"
      style="min-width: 200px"
    >
      <ol class="relative text-gray-500 dark:text-gray-400">
        <li class="mb-10 ml-6">
          <span
            class="absolute flex items-center justify-center w-8 h-8 rounded-full -left-4 ring-4 ring-white"
          >
            <i class="bi bi-shield-fill-plus text-xl text-white"></i>
          </span>
          <h3 class="font-medium leading-tight">Permissions</h3>
          <p class="text-sm">
            Grant permissions for location when prompted. Click on request
            camera permission on and grant camera permissions when you are
            prompted.
          </p>
        </li>
        <li class="mb-10 ml-6">
          <span
            class="absolute flex items-center justify-center w-8 h-8 rounded-full -left-4 ring-4 ring-white"
          >
            <i class="bi bi-qr-code-scan text-xl text-white"></i>
          </span>
          <h3 class="font-medium leading-tight">Scan the Code</h3>
          <p class="text-sm">
            Point your camera at the code and make sure it is in view and
            click/tap
            <span
              class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
            >
              start scanning
            </span>
          </p>
        </li>
        <li class="ml-6 mb-0">
          <span
            class="absolute flex items-center justify-center w-8 h-8 rounded-full -left-4 ring-4 ring-white"
          >
            <i class="bi bi-arrow-right-circle-fill text-xl text-white"></i>
          </span>
          <h3 class="font-medium leading-tight">Confirmation</h3>
          <p class="text-sm">
            Hold your camera steady until you are notified of success.
            <br />Click/Tap on
            <span
              class="bg-slate-100 text-slate-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
            >
              Finish clocking
            </span>
          </p>
        </li>
      </ol>
    </div>
    <div class="flex-1 h-100 p-10 min-w-100" style="min-width: 350px">
      <div
        id="qr-reader"
        class="border-none color-white"
        style="
          width: 300px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
          border: none !important;
          border-radius: 8px !important;
          overflow: hidden !important;
        "
      ></div>

      <div id="success" class="hidden flex-col items-center justify-center">
        <i class="bi bi-check2-circle text-9xl text-white m-5"> </i>
        <button
          type="submit"
          id="btn-register-attend"
          class="px-5 py-2 bg-white text-neutral-600 rounded-lg hover:bg-neutral-200 hover:translate-y-[-4px] transition-all"
        >
          Finish clocking
        </button>
      </div>
    </div>
  </div>
</main>

<style>
  /* qr code styles*/
  #qr-reader__dashboard {
    background-color: #45aa67;
  }
  #qr-reader__dashboard_section__stop_scanning {
    background-color: red;
  }
  #html5-qrcode-button-camera-stop,
  #html5-qrcode-button-camera-start {
    margin: 4px;
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
  }
  #html5-qrcode-button-camera-stop {
    background-color: #aa5555;
  }
  #html5-qrcode-button-camera-start {
    background-color: #55aa55;
  }
</style>

<script>
  let data = new FormData();
  let html5QrcodeScanner;

  const registerAttendance = async function(){
      fetch(`${window.location.origin}/employee/dashboard/clock`, {
              body: JSON.stringify(data),
              method: "POST"
              }
          ).then((res)=>res.json()).then(
            data=>{
              if(data.success){
                alert(data.message)
              }else{
                alert(data.message)
              }
            }
          ).catch((error)=>alert("Failed form submission: "+error.message))
  }
  const onScanSuccess = function(code){
      data.set("code", code)
      html5QrcodeScanner.clear()
      $('#success').removeClass('hidden').addClass('flex')
  }
  const scanCode = function(){
      html5QrcodeScanner = new Html5QrcodeScanner(
          "qr-reader", { fps: 10, qrbox: 250 });
      html5QrcodeScanner.render(onScanSuccess)
  }

  $('#btn-register-attend').click(registerAttendance);
  {% comment %} const {latitude, longitude} = (await getGeoPosition()).coords {% endcomment %}
  window.navigator.geolocation.getCurrentPosition(
    (position)=>{
        const {latitude, longitude} = position.coords
        data.set("longitude", longitude)
        data.set("latitude", latitude)
    },
    (error)=>{
        console.log(error.message || error)
    }
  )

  console.log(data)

  scanCode()
</script>

{% endblock %}
