{% extends 'components/base.html' %} {% load static %} {% block body %}

<main class="bg-primary h-screen w-full p-5 flex items-center justify-center">
  <div class="container p-6 rounded-lg flex flex-row bg-primary-light wrap">
    <div
      class="relative flex-1 h-100 p-10 flex items-center justify-center"
      style="min-width: 200px"
    >
      <a
        href="{% url 'logout' %}"
        class="absolute right-0 top-0 bg-slate-100 text-slate-800 text-md font-medium px-10 py-2 rounded"
      >
        Logout
      </a>
      <ol class="relative text-gray-500 dark:text-gray-400">
        <li class="mb-10 ml-6">
          <span
            class="absolute flex items-center justify-center w-8 h-8 rounded-full -left-4 ring-4 ring-white"
          >
            <i class="bi bi-shield-fill-plus text-xl text-white"></i>
          </span>
          <h3 class="font-medium leading-tight">Permissions</h3>
          <p class="text-sm">
            Grant permissions for location when prompted. On the right, ClickTap
            on request camera permission and the grant camera permissions when
            you are prompted.
          </p>
        </li>
        <li class="mb-10 ml-6">
          <span
            class="absolute flex items-center justify-center w-8 h-8 rounded-full -left-4 ring-4 ring-white"
          >
            <i class="bi bi-qr-code-scan text-xl text-white"></i>
          </span>
          <h3 class="font-medium leading-tight">Scan the Code</h3>
          <p class="text-sm">
            click/tap
            <span
              class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
            >
              start scanning </span
            >. Point your camera at the code and make sure it is in view.
          </p>
        </li>
        <li class="ml-6 mb-0">
          <span
            class="absolute flex items-center justify-center w-8 h-8 rounded-full -left-4 ring-4 ring-white"
          >
            <i class="bi bi-arrow-right-circle-fill text-xl text-white"></i>
          </span>
          <h3 class="font-medium leading-tight">Confirmation</h3>
          <p class="text-sm">
            Hold your camera steady until you are notified of success.
            <br />Click/Tap on
            <span
              class="bg-slate-100 text-slate-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
            >
              Finish clocking
            </span>
            to complete the process. You will be notified if successful.
          </p>
        </li>
      </ol>
    </div>
    <div class="flex-1 h-100 p-10 min-w-100" style="min-width: 350px">
      <div id="clock-complete" class='hidden w-full h-full justify-between items-center'>
        <img src="{% static 'images/logo-square.png' %}" 
            class="w-20 animate-spin m-2"
            style="animation-duration: 5s;"
        />
        <h3 class="text-md font-bold text-secondary text-center my-2"> CIMARA thanks your for being a loyal employee <h3/>
          <a
          href="{% url 'user_dashboard' %}"
          class="block my-2  bg-slate-100 text-slate-800 text-md font-medium px-10 py-2 rounded hover:translate-y-[-2px] transition-transform"
          >
          <i class="bi bi-arrow-left"></i>
          Return to Dashbaord
        </a>
      </div>
      <div
        id="qr-reader"
        class="border-none color-white"
        style="
          width: 300px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
          border: none !important;
          border-radius: 8px !important;
          overflow: hidden !important;
        "
      >
      
    </div>

      <div id="success" class="hidden flex-col items-center justify-center">
        <i class="bi bi-check2-circle text-9xl text-white m-5"> </i>
        <button
          type="submit"
          id="btn-register-attend"
          class="px-5 py-2 bg-white text-neutral-600 rounded-lg hover:bg-neutral-200 hover:translate-y-[-4px] transition-all"
        >
          Finish clocking
        </button>
      </div>
    </div>
  </div>
</main>

<style>
  /* qr code styles*/
  #qr-reader__dashboard {
    background-color: #f7e933;
  }
  #qr-reader__dashboard_section__stop_scanning {
    background-color: red;
  }
  #html5-qrcode-button-camera-stop,
  #html5-qrcode-button-camera-start {
    margin: 4px;
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
  }
  #html5-qrcode-button-camera-stop {
    background-color: #aa5555;
  }
  #html5-qrcode-button-camera-start {
    background-color: #55aa55;
  }
</style>

<script>
  //display any form errors
  const toastOptions = {
    status: 'success',
    title: 'Success',
    text: 'Notify text lorem ipsum',
    effect: 'fade',
    speed: 300,
    customClass: '',
    customIcon: '',
    showIcon: true,
    showCloseButton: true,
    autoclose: true,
    autotimeout: 3000,
    gap: 20,
    distance: 20,
    type: 1,
    position: 'right top'
  }
  {% comment %} {% if form.errors %}
    {% for field in form%}
      {% if field.errors%}
        new Notify ({...toastOptions, 'status': 'error','title': "{{ field.name|upper }}", 'text': "{{ field.errors.0 }}"})
      {% endif %}
    {% endfor %}
  {% endif %} {% endcomment %}
  let formData = new FormData();
  let html5QrcodeScanner;

  const registerAttendance = async function(){
      let url = `${window.location.origin}/employee/dashboard/clock`
      console.log(url)
      console.log(Object.fromEntries(formData));
      try{
        const response = await axios.post(url, formData,{headers: {'Content-Type': 'multipart/form-data'}})
        const data = response.data
        if(data.success){
          new Notify ({...toastOptions, 'title': 'Clocking Sucess', 'text': data.message })
          $('#success').remove()
          $('#clock-complete').removeClass('hidden').addClass("flex flex-col")
        }
        else //actually display the clocking error
          new Notify ({...toastOptions, 'status': 'error','title': 'Clocking failed', 'text': data.message })
      }catch(error){
        console.log({error})
        console.log(error.message)
          new Notify ({...toastOptions, 'status': 'error','title': 'Post error', 'text': "Your form was not sent. Refresh and try again"})
      }
  }
  const onScanSuccess = function(code){
    console.log(code)
    formData.set("code", code)
    html5QrcodeScanner.clear()
    $('#success').removeClass('hidden').addClass('flex')
  }
  const scanCode = function(){
      html5QrcodeScanner = new Html5QrcodeScanner(
          "qr-reader", { fps: 10, qrbox: 250 });
      html5QrcodeScanner.render(onScanSuccess)
  }

  $('#btn-register-attend').click(registerAttendance);
  {% comment %} const {latitude, longitude} = (await getGeoPosition()).coords {% endcomment %}
  window.navigator.geolocation.getCurrentPosition(
    (position)=>{
        const {latitude, longitude} = position.coords
        formData.set("longitude", longitude)
        formData.set("latitude", latitude)
    },
    (error)=>{
      alert(error.message || error)
        console.log(error.message || error)
        alert("Refresh this page and set permissions")
    }
  )

  console.log(formData)

  scanCode()
</script>

{% endblock %}
