{% extends 'components/base.html' %} 
{% load custom_tags %} 
{% load static %} 
{% block title %} {{ user.profile.name  }}'s Dashboad {% endblock title %}
{% block body %}

<section class="bg-primary h-screen w-full flex items-center justify-center">
  <div class="container w-auto h-auto">
    <div class="text-center">
      <img
        class="mx-auto h-20"
        src="{% static 'images/logo-wide.png' %}"
        alt="logo"
      />
      <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold text-accent-light">
        Presence
      </h4>
    </div>
    <div
      class="flex px-5 py-10 rounded-lg flex-col items-center justify-between text-secondary"
      style="background-color: rgba(247, 239, 164, 0.2)"
    >
      <h2 class="text-4xl mt-4 mb-2 font-bold">
        Welcome, {{user.profile.name}}.
      </h2>
      <a
        href="{% url 'logout' %}"
        class="bg-slate-100 text-slate-800 mb-2 text-xs mr-2 px-6 py-0.5 rounded flex items-center justify-center"
      >
        Logout
      </a>
      <p class="text-neutral-100 mb-2 text-center">
        {% if clocked_in_state == 'BOTH'  %} 
          You have already clocked in for today <br>
          Workday: {{ attendance.clock_in_time  }} - {{ attendance.clock_out_time }}
        {% elif clocked_in_state == 'IN_ONLY' %} 
          You clocked in at 
          <span class="bg-gray-700 inline-block text-gray-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
          {{ attendance.clock_in_time }}
          </span>
        {% else %}
          You haven't clock in for today yet.
        {% endif %}
       </p>
      <p id="date-display" class="text-neutral-200 font-bold"></p>
      <h1 id="time-display" class="text-5xl my-5 font-black"></h1>

      <div class="flex w-full items-center justify-around px-5">
      {% if clocked_in_state != 'BOTH' %} 
        {% if clocked_in_state == 'NONE' %}
          <a
            href="{% url 'user_clock_action' %}"
            class="px-5 py-2 bg-white text-neutral-600 rounded-lg hover:bg-neutral-200 hover:translate-y-[-4px] transition-all"
            >Clock In</a
          >
        {% else %}
          <a
            href="{% url 'user_clock_action' %}"
            class="px-5 py-2 bg-white text-neutral-600 rounded-lg hover:bg-neutral-200 hover:translate-y-[-4px] transition-all"
            >Clock Out</a
          >
        {% endif %}
      {% endif %} 
        <a
          href="{% url 'request_leave' %}"
          class="px-5 py-2 bg-white text-neutral-600 rounded-lg hover:bg-neutral-200 hover:translate-y-[-4px] transition-all"
          >Request Leave</a
        >
      </div>
    </div>
  </div>
</section>

<script>
  const dateDisplay = $("#date-display");
  const timeDisplay = $("#time-display");

  const updateDateAndTime = () => {
    dateDisplay.html(moment().format("dddd, MMMM DD yyyy"));
    timeDisplay.html(moment().format("hh:mm:ss A"));
  };
  setInterval(updateDateAndTime, 1000);
</script>

{% endblock %}
