{% extends 'components/base.html' %} {% load static %} {% block body %}

<section class="bg-primary h-screen w-full flex items-center justify-center">
  <div class="container w-auto h-auto bg-">
    <div class="text-center">
      <img
        class="mx-auto h-20"
        src="{% static 'images/logo-wide.png' %}"
        alt="logo"
      />
      <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">Presence</h4>
    </div>
    <div
      class="flex px-5 py-10 rounded-lg flex-col items-center justify-between text-secondary"
      style="background-color: #00000066"
    >
      <h2 class="text-4xl my-5 font-bold">Welcome, {{user.profile.name}}</h2>
      <p class="text-neutral-100 mb-5">
        You haven't clock in yet. You clocked in at 7:00 AM
      </p>
      <p id="date-display" class="text-neutral-200 font-bold"></p>
      <h1 id="time-display" class="text-5xl my-5 font-black"></h1>

      <div class="flex w-full items-center justify-between px-5">
        {% if clocked_in_state is not None %} {% if clocked_in_state == True %}
        <a
          href="{% url 'user_clock_action' %}"
          class="px-5 py-2 bg-white text-neutral-600 rounded-lg hover:bg-neutral-200 hover:translate-y-[-4px] transition-all"
          >Clock In</a
        >
        {% else %}
        <a
          href="{% url 'user_clock_action' %}"
          class="px-5 py-2 bg-white text-neutral-600 rounded-lg hover:bg-neutral-200 hover:translate-y-[-4px] transition-all"
          >Clock Out</a
        >
        {% endif %} {% endif %}
        <a
          href="/employee/request-leave"
          class="px-5 py-2 bg-white text-neutral-600 rounded-lg hover:bg-neutral-200 hover:translate-y-[-4px] transition-all"
          >Request Leave</a
        >
      </div>
    </div>
  </div>
</section>

<script>
  const dateDisplay = $("#date-display");
  const timeDisplay = $("#time-display");

  const updateDateAndTime = () => {
    dateDisplay.html(moment().format("dddd, MMMM DD yyyy"));
    timeDisplay.html(moment().format("hh:mm:ss A"));
    console.log("chaned");
  };
  setInterval(updateDateAndTime, 700);
</script>

{% endblock %}
