{% extends 'components/base.html' %} {% load static %} {% block body %}

<div
  class="antialiased w-full min-h-screen text-slate-300 relative py-4 bg-primary"
>
  <div
    class="grid grid-cols-12 mx-auto gap-2 sm:gap-4 md:gap-6 lg:gap-10 xl:gap-14 max-w-7xl my-10 px-2"
  >
    <section
      class="fixed z-20 h-4/5 w-3/5 top-0 left-0 bottom-0 right-0 m-auto max-w-full py-10 px-6 bg-primary rounded-md shadow-2xl shadow-black"
    >
      <div class="flex justify-between my-0 mr-4">
        <h1 class="text-xl font-bold text-white capitalize dark:text-white">
          Send a Leave request
        </h1>
      </div>

      <form class="overflow-x-hidden mb-5 px-2">
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
          <div>
            <label class="text-white dark:text-gray-200" for="name"
              >How many days?</label
            >
            <input
              id="name"
              type="number"
              name="days_off"
              placeholder="2"
              required
              class="inline-block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
            />
          </div>

          <div>
            <label class="text-white dark:text-gray-200" for="sde"
              >Starting when</label
            >
            <input
              id="sde"
              type="date"
              name="start_date"
              required
              class="inline-block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
            />
          </div>
        </div>
        <div class="my-6 w-full">
          <label class="text-white dark:text-gray-200" for="msg">Message</label>
          <textarea
            id="msg"
            name="message"
            class="inline-block h-40 w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
          ></textarea>
        </div>
        <div class="flex items-center justify-center my-6 mx-auto w-full">
          <button
            type="submit"
            class="px-10 py-4 my-10 leading-5 text-gray-500 transition-transform duration-400 transform bg-gray-100 rounded-md hover:translate-y-[-4px] focus:outline-none focus:bg-gray-600"
          >
            <i class="bi bi-send text-xl"></i>
            Send Request
          </button>
        </div>
      </form>
    </section>
  </div>
</div>

{% endblock %}
